@function color($colorName: "primary") {
  $color: (
    primary: hsl(42, 96%, 54%),
    primary-light: hsl(42, 96%, 64%),
    primary-lighter: hsl(42, 96%, 74%),
    primary-dark: hsl(42, 96%, 44%),
    primary-darker: hsl(42, 96%, 34%),
    secondary: hsl(356, 95%, 46%),
    secondary-light: hsl(356, 95%, 56%),
    secondary-lighter: hsl(356, 95%, 66%),
    secondary-dark: hsl(356, 95%, 36%),
    secondary-darker: hsl(356, 95%, 26%),
    gray: hsl(42, 20%, 30%),
    gray-light: hsl(42, 20%, 40%),
    gray-lighter: hsl(42, 15%, 50%),
    gray-dark: hsl(42, 30%, 20%),
    gray-darker: hsl(42, 100%, 10%),
    white: hsl(42, 90%, 90%),
    white-light: hsl(42, 100%, 95%),
    white-dark: hsl(42, 80%, 85%)
  );

  @return map-get($color, $colorName);
}

@function font-weight($weightName: "regular") {
  $font-weight: (
    bolder: 800,
    bold: 600,
    regular: 400,
    light: 300,
    lighter: 200
  );

  @return map-get($font-weight, $weightName);
}

@function font-size($sizeName: "regular") {
  $font-size: (
    title-larger: 30px,
    title-large: 26px,
    title: 24px,
    larger: 18px,
    large: 16px,
    regular: 14px,
    small: 12px,
    smaller: 10px
  );

  @return map-get($font-size, $sizeName);
}

@function line-height($lineHeight: "regular") {
  $line-height: (
    larger: 2,
    large: 1.75,
    regular: 1.5,
    small: 1.3,
    smaller: 1.1
  );

  @return map-get($line-height, $lineHeight);
}
