@import "./textStyle";
@import "./reset";

body {
  background: linear-gradient(to left top, color(secondary), color(primary));

  color: color(gray);
  font-family: "나눔스퀘어라운드";
}

body > header {
  margin: 1rem 1rem 2rem;

  color: color(secondary-dark);
  font-weight: font-weight(bolder);
  text-transform: uppercase;
}

body > main > section {
  width: 85%;
  margin: 0 auto;
}

body > main > section.introduction {
  background-color: color(primary-lighter);
  padding: 1rem;
  border-radius: 1rem;

  color: color(gray);
  font-size: font-size(regular);
  font-weight: font-weight(lighter);
  line-height: line-height(regular);

  & > ul > li {
    margin-bottom: 1.2rem;

    display: grid;
    grid-template-columns: 1.5em 1fr;
    gap: 0.5em;
    grid-template-areas: "icon message";
    align-items: baseline;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  & > ul > li > div.icon {
    grid-area: icon;
  }

  & > ul > li > div.message {
    grid-area: message;
  }
}

body > main > section.tryout-now {
  & > h1.title {
    width: max-content;
    margin: 4rem auto 2rem;

    font-size: font-size(title);
    font-weight: font-weight(bolder);
    color: color(white-light);
  }

  & > p.description {
    width: min-content;
    margin: 0 auto 2rem;

    font-size: font-size(regular);
    line-height: line-height(large);
    color: color(white);
  }

  & > div.button {
    width: fit-content;
    margin: 0 auto;
    padding: 1em 1.5em;
    border-radius: 1em;
    background-color: color(white-dark);

    font-size: font-size(large);
    color: color(secondary-dark);

    cursor: pointer;
    transition-duration: 0.5s;
    transition-property: transform backgroud-color color;

    &:hover {
      transform: translateY(-5px);
      background-color: color(white-light);
      color: color(secondary);

    }
  }
}
