@charset "UTF-8";
html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1;
}

body {
  margin: 0;
}

html, body, header, main, section, ul, li, span, h1, button {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

h1 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

body {
  background: -webkit-gradient(linear, right bottom, left top, from(#e50615), to(#fab719));
  background: linear-gradient(to left top, #e50615, #fab719);
  color: #5c533d;
  font-family: "나눔스퀘어라운드";
}

body > header {
  margin: 1rem 1rem 2rem;
  color: #b30510;
  font-weight: 800;
  text-transform: uppercase;
}

body > main > section {
  width: 85%;
  margin: 0 auto;
}

body > main > section.introduction {
  background-color: #fcd67d;
  padding: 1rem;
  border-radius: 1rem;
  color: #5c533d;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.5;
}

body > main > section.introduction > ul > li {
  margin-bottom: 1.2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5em 1fr;
      grid-template-columns: 1.5em 1fr;
  gap: 0.5em;
      grid-template-areas: "icon message";
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

body > main > section.introduction > ul > li:last-of-type {
  margin-bottom: 0;
}

body > main > section.introduction > ul > li > div.icon {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: icon;
}

body > main > section.introduction > ul > li > div.message {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: message;
}

body > main > section.tryout-now > h1.title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 4rem auto 2rem;
  font-size: 24px;
  font-weight: 800;
  color: #fff7e6;
}

body > main > section.tryout-now > p.description {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0 auto 2rem;
  font-size: 14px;
  line-height: 1.75;
  color: #fcefcf;
}

body > main > section.tryout-now > div.button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 1em 1.5em;
  border-radius: 1em;
  background-color: #f7e5ba;
  font-size: 16px;
  color: #b30510;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform backgroud-color color;
  transition-property: -webkit-transform backgroud-color color;
  transition-property: transform backgroud-color color;
  transition-property: transform backgroud-color color, -webkit-transform backgroud-color color;
}

body > main > section.tryout-now > div.button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: #fff7e6;
  color: #e50615;
}
/*# sourceMappingURL=main.css.map */