@import "./common/variables";
@import "./common/mixins";
@import "./common/base";

html {
  background-color: color(white-light);
  font-size: font-size();
  font-family: "나눔스퀘어라운드";
  line-height: 1;
  color: color(gray);

  @include viewport(viewportWidth(mobile-large)) {
    font-size: font-size(root-mobile_large);
  }
  @include viewport(viewportWidth(tablet)) {
    font-size: font-size(root-tablet);
  }
  @include viewport(viewportWidth(laptop)) {
    font-size: font-size(root-laptop);
  }
  @include viewport(viewportWidth(desktop)) {
    font-size: font-size(root-desktop);
  }
}

html,
body {
  min-height: 100vh;
}

body {
  z-index: -1;
}


body > div.background {
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right bottom,
    color(primary),
    color(secondary)
  );
  clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 100%);

  @include landscape {
    clip-path: polygon(0 0, 85% 0, 65% 100%, 0 100%);
  }
}

body > header {
  @include container;

  // position: absolute;
  font-weight: font-weight(bolder);
  color: color(secondary-dark);
  text-transform: uppercase;
}

body > main {
  @include container;

  display: grid;
  grid-template-rows: min-content min-content;
  align-content: space-evenly;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;

  height: calc(100vh - 3rem);

  @include landscape {
    grid-template-rows: auto;
    grid-template-columns: min-content min-content;
    grid-template-areas: "tryout-now introduction";
  }
}

body > main > section {
  width: min-content;

  &:last-of-type {
    margin-bottom: 0;
  }
}

body > main > section.introduction {
  @include roundBox(color(primary-lighter));

  font-weight: font-weight(lighter);
  line-height: line-height(regular);
  color: color(gray-darker);

  @include landscape {
    grid-area: introduction;
  }

  & > ul > li {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-areas: "icon message";
    gap: 1em;
    align-items: center;

    margin-bottom: 1.2em;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  & > ul > li > div.icon {
    grid-area: icon;
  }

  & > ul > li > div.message {
    grid-area: message;
  }
}

body > main > section.tryout-now {
  text-align: center;

  @include landscape {
    grid-area: tryout-now;
    text-align: left;
  }

  & > * {
    width: min-content;
    margin: 0 auto 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & > h1.title {
    text-transform: uppercase;
    font-size: font-size(title);
    font-weight: font-weight(bolder);
    color: color(white-light);
  }

  & > p.description {
    line-height: line-height(regular);
    color: color(white);
  }

  & > div.button {
    @include roundBox(color(white-dark));
    @include button(color(white-light), color(secondary));

    width: max-content;
    margin: 0 auto;

    font-size: font-size(subtitle);
    font-weight: font-weight(bolder);
    color: color(secondary-dark);
  }
}
